- js = (name) => htmlWebpackPlugin.files.js.filter(file => name.test(file))[0]
- strip = (path) => path.substr(htmlWebpackPlugin.files.publicPath.length)
- contents = path => compilation.assets[strip(path)].source()

html
  body
    iframe(id='iframe' src='./ui.html' style='display:none;')
    script !{contents(js(/shim\.js$/))}
    script !{contents(js(/plugin\.js$/))}
