- js = (name) => htmlWebpackPlugin.files.js.filter(file => name.test(file))[0]
- strip = (path) => path.substr(htmlWebpackPlugin.files.publicPath.length)
- contents = path => compilation.assets[strip(path)].source()

html
  head
    each cssFile in htmlWebpackPlugin.files.css
      style !{contents(cssFile)}
  body
    h2='Bridge'
    button(id='ping')='Ping'
    div(id='response')
    script !{contents(js(/ui\.js$/))}
